# Lists

Here is a list ["Hello", "I", "Michel", "am"]

1. Store this list in a variable we'll call michel
2. Make a loop so that the console returns each of the items in the list

In [ ]:
michel  = ["Hello", "I", "Michel", "am"]

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

Hello
I
am
Michel

Here's a list of ages: [12, 16, 34, 58, 9].

1. Store this age list in a variable that we'll call: 

```
age
```

2. We would like this list to be arranged in ascending order, how do we do that?

[9, 12, 16, 34, 58]

# Dictionaries

We told you that dictionaries are very useful with APIs, so let's try to use the Star Wars API.

1. In your text editor, write:

```
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()
```

2. This will make it possible to call the Star Wars API to store it on a dictionary format in a variable called _dic_.

3. See what's in the dictionary via a loop

4. We'd like to make a nice phrase to describe the character like this: 

`“{{name}} is {{height}} cm tall and weighs {{mass}} kg. He was born in {{birth_year}}”`

In [1]:
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic  = request.json()

In [2]:
for elem in dic.items():
    print(elem)

('name', 'Luke Skywalker')
('height', '172')
('mass', '77')
('hair_color', 'blond')
('skin_color', 'fair')
('eye_color', 'blue')
('birth_year', '19BBY')
('gender', 'male')
('homeworld', 'https://swapi.dev/api/planets/1/')
('films', ['https://swapi.dev/api/films/1/', 'https://swapi.dev/api/films/2/', 'https://swapi.dev/api/films/3/', 'https://swapi.dev/api/films/6/'])
('species', [])
('vehicles', ['https://swapi.dev/api/vehicles/14/', 'https://swapi.dev/api/vehicles/30/'])
('starships', ['https://swapi.dev/api/starships/12/', 'https://swapi.dev/api/starships/22/'])
('created', '2014-12-09T13:50:51.644000Z')
('edited', '2014-12-20T21:17:56.891000Z')
('url', 'https://swapi.dev/api/people/1/')

In [3]:
print(f"{dic['name']} is {dic['height']} cm tall and weighs {dic['mass']} kg. He was born in {dic['birth_year']}")

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY

# Slices

We have the following dataset: `kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`.
 
1. This variable represents a list of kilometres travelled every morning by 8 users to work.
2. Using a loop, calculate the total average of all the users' trips
3. Is this average representative of what all individuals really go through? Why do you think so?

In [21]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]

total = 0
for elem in kilometres_travelled:
    total += elem
    
moyenne = total / len(kilometres_travelled)
print(total)
print(moyenne)
    
"""
2-La distance moyenne parcourue par les 8 utilisateurs pour se rendre au travail est de 156 kilomètres.
3- Non, cette moyenne n'est pas représentative de la distance totale parcourue par les 8 utilisateurs. A cause de la valeur aberrante de 1000km. 
"""

1248
156.0

"\n2-La distance moyenne parcourue par les 8 utilisateurs pour se rendre au travail est de 156 kilomètres.\n3- Non, cette moyenne n'est pas représentative de la distance totale parcourue par les 8 utilisateurs. A cause de la valeur aberrante de 1000km. \n"

4. Change the variable kilometers_travelled to have a more representative average

In [22]:
valeure_abberante = kilometres_travelled.pop(4)
valeure_abberante

1000

In [24]:
total = 0
for elem in kilometres_travelled:
    total += elem
    
moyenne = total / len(kilometres_travelled)
print(total)
print(moyenne)

248
35.42857142857143